# Build
/build/

# Frontend
/frontend/dist/
/frontend/node_modules/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/vendor/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Wails
/app.syso
